@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}
/* shared style */

.orange_clr {
  color: #ff0000;
}
.title {
  font-size: 48px;
  font-weight: bold;
}
.sub_title {
  font-size: 24px;
}
.pera {
  font-size: 20px;
}
.container {
  width: 1320px;
  margin: 0 auto;
}
.center {
  text-align: center;
}
.banner_sec {
  background-image: linear-gradient(to top, rgba(245, 246, 252, 0), rgba(6, 0, 4, 0.73)),
    url("./images/Banner\ Image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 120px;
}
.banner_content {
  padding: 177px 0;
  text-align: center;
  color: white;
}

.banner_content h2 {
  font-size: 72px;
  margin-top: 20px;
}
/* offer_section */

.offer_section h1 {
  font-size: 88px;
}
.offer_section h3 {
  margin: 50px 0 16px 0;
}
.offer_section img {
  margin: 50px 0 120px 0;
}
.wlc_sec {
  background-image: linear-gradient(to left, rgba(1, 4, 22, 0.052), #000),
    url("./images/Vectorrr.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  border-radius: 10px;
  color: white;
}
.wlc_desc {
  padding: 120px;
}
.wlc_desc h1 {
  font-size: 64px;
}
.wlc_desc p {
  font-size: 18px;
  font-weight: normal;
  padding: 24px 0 48px;
  line-height: 25px;
}
.join_text,
.join_btn {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
/* join_sec */

.join_sec {
  background: linear-gradient(to top, rgba(246, 246, 246, 0.052), #ff959544);
  height: 500px;
  line-height: 60px;
  margin-top: 120px;
  margin-bottom: 120px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.join_sec button {
  color: white;
  background-color: #ff0000;
  padding: 16px 32px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  margin-top: 64px;
}
/* coming_sec */
.coming_sec {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-bottom: 120px;
  gap: 50px;
}
.coming_one h1,
.coming_three .pera {
  margin: 16px 0px 22px;
}

.coming_one .pera,
.coming_three .pera {
  line-height: 25px;
  color: #070211;
}
.coming_two {
  border: 10px solid #ff0000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 364px;
  height: 364px;
  padding: 48px;
}
